.CaseCard-modal-layer {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    transition: all ease-in-out 0.1s;
    /* background: black;
    opacity: 0.4; */
}
.CaseCard-modal-layer.open {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overflowHidden {overflow: hidden;}

.CaseCard-modal-wrapper {
    display: none;
    width: 1600px;
    height: 1020px;
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    border-radius: 20px;
    
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all ease-in-out 0.1s;
    
    flex-direction: column;

}
.modalWrapperL {
    background-color: rgba(240, 244, 250, 0.3);
    border: 1px solid rgba(41, 44, 50, 0.1);
}

.modalWrapperD {
    border: 1px solid rgba(250, 252, 255, 0.1);
    background: rgba(250, 252, 255, 0.05);
}

.CaseCard-modal-wrapper.open {
    display: flex;
}

.CaseCard-modal-wrapper-close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 17.5px;
    border-radius: 34px;

    font-weight: 400;
    font-size: 17px;
    line-height: 20.4px;
    letter-spacing: -2%;
    cursor: pointer;


}

.CaseCard-modal-wrapper-closeL {
    border: 1.5px solid #CED1D4;
}
.CaseCard-modal-wrapper-closeL:hover {
    background: #CED1D4;
}

.CaseCard-modal-wrapper-closeD {
    border: 1.5px solid #212224;
}
.CaseCard-modal-wrapper-closeD:hover {
    background: #212224;
}

.CaseCard-modal-wrapper-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    left: 46px; top: 47px;
}

.CaseCard-modal-wrapper-info h1 {
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2%;

}

.CaseCard-modal-wrapper-info h2 {
    max-width: 749px;
    font-weight: 400;
    font-size: 19px;
    line-height: 21.85px;
    letter-spacing: 0%;
}

.CaseCard-modal-wrapper-info a {
    font-family: "IBM Plex Sans", serif;

    font-weight: 400;
    font-size: 19px;
    line-height: 19px;
    letter-spacing: -2%;
    text-decoration: underline;
    text-decoration-style: solid;

}
.CaseCard-modal-wrapper-info-aL {
    color: rgba(41, 44, 50, 0.6);
}
.CaseCard-modal-wrapper-info-aD {
    color: #9EA0A3;
}

@media screen and (max-width: 1820px) {
    .CaseCard-modal-wrapper {
        width: 1284px;
        height: 680px;
    }
    
    .CaseCard-modal-wrapper-close {
        top: 20px;
        right: 20px;
        padding: 10px 17.5px;
    
        font-weight: 400;
        font-size: 17px;
        line-height: 20.4px;
        letter-spacing: -2%;
    }
    
    .CaseCard-modal-wrapper-info {
        gap: 10px;
        left: 20px; top: 44px;
    }
    
    .CaseCard-modal-wrapper-info h1 {
        font-weight: 400;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -2%;

    }
    
    .CaseCard-modal-wrapper-info h2 {
        max-width: 656px;
        font-weight: 400;
        font-size: 17px;
        line-height: 19.55px;
        letter-spacing: 0%;
        
    }
    
    .CaseCard-modal-wrapper-info a {
        font-family: "IBM Plex Sans", serif;
        font-weight: 400;
        font-size: 17px;
        line-height: 17px;
        letter-spacing: -2%;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-offset: Auto;
        text-decoration-thickness: Auto;
        text-decoration-skip-ink: auto;
    }
}

@media screen and (max-width: 1535px) {
    .CaseCard-modal-wrapper {
        width: 1155px;
        height: 680px;
    }
    
    .CaseCard-modal-wrapper-close {
        top: 20px;
        right: 20px;
        padding: 10px 17.5px;
    
        font-weight: 400;
        font-size: 17px;
        line-height: 20.4px;
        letter-spacing: -2%;
    }
    
    .CaseCard-modal-wrapper-info {
        gap: 10px;
        left: 20px; top: 44px;
    }
    
    .CaseCard-modal-wrapper-info h1 {
        font-weight: 400;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -2%;

    }
    
    .CaseCard-modal-wrapper-info h2 {
        max-width: 656px;
        font-weight: 400;
        font-size: 17px;
        line-height: 19.55px;
        letter-spacing: 0%;
        
    }
    
    .CaseCard-modal-wrapper-info a {
        font-family: "IBM Plex Sans", serif;
        font-weight: 400;
        font-size: 17px;
        line-height: 17px;
        letter-spacing: -2%;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-offset: Auto;
        text-decoration-thickness: Auto;
        text-decoration-skip-ink: auto;
    }
}

@media screen and (max-width: 1365px) {
    .CaseCard-modal-wrapper {
        width: 1060px;
        height: 673px;
    }
    
    .CaseCard-modal-wrapper-close {
        top: 20px;
        right: 20px;
        padding: 10px 17.5px;
    
        font-weight: 400;
        font-size: 17px;
        line-height: 20.4px;
        letter-spacing: -2%;
    }
    
    .CaseCard-modal-wrapper-info {
        gap: 10px;
        left: 20px; top: 44px;
    }
    
    .CaseCard-modal-wrapper-info h1 {
        font-weight: 400;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -2%;

    }
    
    .CaseCard-modal-wrapper-info h2 {
        max-width: 656px;
        font-weight: 400;
        font-size: 15px;
        line-height: 17.25px;
        letter-spacing: 0%;

        
    }
    
    .CaseCard-modal-wrapper-info a {
        font-family: "IBM Plex Sans", serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 15px;
        letter-spacing: -2%;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-offset: Auto;
        text-decoration-thickness: Auto;
        text-decoration-skip-ink: auto;
    }
}

@media screen and (max-width: 600px)  {

}