.clientsList-wrapper {
    width: fit-content;
    margin-top: 60px;
    display: flex;
    gap: 80px;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.clientsList-wrapper img {
    width: 220px;
}

@media screen and (max-width: 1820px) {
    .clientsList-wrapper {
        margin-top: 39px;
        gap: 20px;
    }
    
    .clientsList-wrapper img {
        width: 220px;
    }
}

@media screen and (max-width: 1535px) {
    .clientsList-wrapper {
        margin-top: 40px;
        gap: 20px;
    }
    
    .clientsList-wrapper img {
        width: 164px;
    }
}

@media screen and (max-width: 1365px) {
    .clientsList-wrapper {
        margin-top: 40px;
        gap: 20px;
    }
    
    .clientsList-wrapper img {
        width: 164px;
    }
}

@media screen and (max-width: 600px)  {
    .clientsList-wrapper {
        width: 100%;
        margin-top: 20px;
        display: flex;
        gap: 10px;
        align-items: center;
        position: relative;
        left: 0;
        transform: translateX(0);
        overflow-x: scroll;
        scrollbar-width: none; /* Для Firefox */
        -ms-overflow-style: none;
    }
    .clientsList-wrapper::-webkit-scrollbar {
        display: none; /* Для Chrome, Safari и Edge */
    }
    
    .clientsList-wrapper img {
        width: 118px;
    }
}