.clientsList-wrapper {
    width: fit-content;
    margin-top: 60px;
    display: flex;
    gap: 80px;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.clientsList-wrapper img {
    width: 220px;
}

@media screen and (max-width: 1820px) {
    .clientsList-wrapper {
        margin-top: 39px;
        gap: 20px;
    }
    
    .clientsList-wrapper img {
        width: 220px;
    }
}

@media screen and (max-width: 1535px) {
    .clientsList-wrapper {
        margin-top: 40px;
        gap: 20px;
    }
    
    .clientsList-wrapper img {
        width: 164px;
    }
}

@media screen and (max-width: 1365px) {
    .clientsList-wrapper {
        margin-top: 40px;
        gap: 20px;
    }
    
    .clientsList-wrapper img {
        width: 164px;
    }
}

@media screen and (max-width: 600px)  {

}